*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body{
  background: #F6F8FC;
}

.content{
  height: 100vh;
  width: 100vh;
  background-color: #fff;
  padding: 1rem;
  
}

@media screen and (min-width: 992px){
  .content{
    max-width: 992;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
  }
}

.content h1{
  margin: 0;
}
